body {
  background-color: #accee5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* 헤더 */
.header {
  display: flex;
  align-items: center;
}

/* h1 */
h1 {
  display: flex;
  align-items: center;
}

h1 > img {
  height: 90px;
  margin-right: 10px;
}

/* 채팅 */
.chating {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -20px;
  border: 5px solid #648cc2;
  width: 500px;
  height: 450px;
  box-sizing: border-box;
  background-color: #648cc2;
  overflow-y: auto;
}

/* question */
.question {
  background-color: #cde0ef;
  text-align: left;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 80%;
  border-radius: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.question .chat_content {
  background-color: #cde0ef;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  color: rgb(61, 47, 47);
}

.question-container {
  display: flex;
  align-items: center;
}

.user-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.chatbot-image {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* answer */
.answer {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-right: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.answer .chatbot-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.answer .chat_content {
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
  text-align: left;
  max-width: 80%;
}

.answer-container {
  display: flex;
  align-items: center;
}

/* chat-list */
.chat-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
}

/* 채팅 헤드라인 */
.chat-header {
  background-color: #648cc2;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #19191ad0;
}

.chat-list {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat-list li {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
}

.chat-list li.question {
  justify-content: flex-start;
}

.chat-list li.answer {
  justify-content: flex-end;
}

/* input */
.user-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}

.user-message textarea {
  flex: 1;
  height: 40px;
  padding: 5px;
  border: none;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #f2f2f2;
}

.submit-button {
  width: 50px;
  height: 40px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
}

.submit-button img {
  width: 100%;
  height: auto;
}
